<% provide(:title, 'About Us') %> 
<h1>About Us</h1>
<p>
	My First Rails Application. This Rails Application is a very simple verison of a twitter like program.
	It is based on the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> and uses <a href="http://rubyonrails.org/">Ruby on Rails</a>
</p>
