<footer class="footer">
  <small>
    <a href="http://wiki.softxs.ch/softxs/Home/">Example Rails App</a>
    by Darren Starsmore
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://wiki.softxs.ch/softxs/News">News</a></li>
    </ul>
  </nav>
</footer>
